body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#OverlayMenu1
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
}
#OverlayMenu1:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border-color: #000000;
}
#OverlayMenu1
{
   display: block;
   width: 85px;
   height: 90px;
   position: absolute;
   overflow: hidden;
}
#OverlayMenu1 .line
{
   width: 32px;
   height: 6px;
   position: relative;
   top: 25px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#OverlayMenu1:hover .line
{
   background: #000000;
}
#OverlayMenu1.open .line:nth-child(1)
{
   -webkit-transform: translateY(12px) rotate(45deg);
   transform: translateY(12px) rotate(45deg);
}
#OverlayMenu1.open .line:nth-child(2)
{
   opacity: 0;
}
#OverlayMenu1.open .line:nth-child(3)
{
   -webkit-transform: translateY(-12px) rotate(-45deg);
   transform: translateY(-12px) rotate(-45deg);
}
#OverlayMenu1-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   left: 0;
   overflow-y: auto;
   position: absolute;
   top: 0;
   width: 400px;
   z-index: 9998 !important;
   background-color: rgba(0,0,0,0.87);
}
#OverlayMenu1-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu1
{
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu1 a
{
   text-decoration: none;
}
.OverlayMenu1 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu1 li 
{
   position: relative;
}
.OverlayMenu1 li a 
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu1 li a:hover
{
   color: #424242;
   background-color: #FFFFFF;
}
#OverlayMenu1-overlay
{
   visibility: hidden;
   width: 0;
   -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#OverlayMenu1-overlay.show
{
   visibility: visible;
   width: 400px;
   -webkit-transition: width 400ms;
   transition: width 400ms;
}
#OverlayMenu1-overlay .OverlayMenu1
{
   opacity: 0;
   -webkit-transition: opacity 0.3s 400ms;
   transition: opacity 0.3s 400ms;
}
#OverlayMenu1-overlay.show .OverlayMenu1
{
   opacity: 1;
   -webkit-transition-delay: 400ms;
   transition-delay: 400ms;
}
#OverlayMenu1-overlay.hide .OverlayMenu1
{
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
}
.OverlayMenu1 li.drilldown-back > a 
{
   padding-left: 40px;
   background: rgba(0,0,0,0.1);
}
.OverlayMenu1 li.drilldown-back > a:hover
{
   background-color: #FFFFFF;
}
.OverlayMenu1 li.drilldown-back:after,
.OverlayMenu1 li > a:not(:only-child):after
{
   position: absolute;
   top: 15px;
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 9px;
   border-left: 9px solid #FFFFFF;
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-right: 0 dotted;
   content: " ";
}
.OverlayMenu1 li.drilldown-back:after
{
   left: 9px;
   color: #FFFFFF;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}
.OverlayMenu1 li.drilldown-back:hover:after,
.OverlayMenu1 li > a:not(:only-child):hover:after
{
   border-left-color: #424242;
}
.OverlayMenu1 li > a:after
{
   color: rgba(0,0,0,0.15);
   right: 10px;
}
.OverlayMenu1 .drilldown-menu 
{
   margin: 0;
   width: 100%;
}
.OverlayMenu1 li .drilldown-submenu 
{
   display: none;
}
.drilldown-menu.drilldown-subview li,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > a,
.drilldown-menu.drilldown-subview li.drilldown-subview > a 
{
   display: none;
}
.drilldown-menu.drilldown-subview li.drilldown-subview,
.drilldown-menu.drilldown-subview li.drilldown-subview .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu > li 
{
   display: block;
}
.OverlayMenu1 > .drilldown-submenu 
{
   left: 0;
   margin: 0;
   position: absolute;
   top: 50px;
   width: 100%;
}
#OverlayMenu1-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
.OverlayMenu1-effect
{
   -webkit-transition: all 500ms linear;
   transition: all 500ms linear;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_CmsView1
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   margin: 0;
}
#wb_CmsView1 ul
{
   padding-left: 1em;
}
#wb_CmsView1, cms_input, .cms_select, .cms_textarea
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
.cms_input, .cms_select, .cms_textarea
{
   border: 1px #000000 solid;
}
#wb_CmsView1 h1, #wb_CmsView1 h2, #wb_CmsView1 h3, #wb_CmsView1 h4
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
}
#wb_CmsView1 h1 {font-size: 2.15em; font-weight: bold;}
#wb_CmsView1 h2 {font-size: 1.85em; font-weight: bold;}
#wb_CmsView1 h3 {font-size: 1.6em; font-weight: bold; }
#wb_CmsView1 h4 {font-size: 1.4em;}
#wb_CmsView1 h5 {font-size: 1.2em;}
#wb_CmsView1 h6 {font-size: 1em;}
#wb_CmsView1 .page-list
{
   margin: 0;
   padding: 0;   
list-style: none;
}
#wb_CmsView1 .page-list li
{
   padding: 0 0 10px 0;
}
#wb_CmsView1 .page-list .name
{
   color: inherit;
   font-size: 1.1em;
   font-weight: bold;
   text-decoration: none;
}
#wb_CmsView1 .page-list .last-update
{
   float: right;
   font-size: 0.8em;
}
#wb_CmsView1 .page-list .read-more
{
   color: #C0C0C0;
   display: block;
   text-align: right;
   text-decoration: none;
}
#Layer1
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#CmsSearch1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 40px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
.searchresults
{
   padding: 2px 2px 2px 2px;
   list-style-position: inside;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
}
.searchresults a
{
   color: #1A0DAB;
}
.searchresults li
{
   padding: 0 0 2px 0;
}
#wb_CmsView2
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   margin: 0;
}
#wb_CmsView2 ul
{
   padding-left: 1em;
}
#wb_CmsView2, cms_input, .cms_select, .cms_textarea
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
.cms_input, .cms_select, .cms_textarea
{
   border: 1px #000000 solid;
}
#wb_CmsView2 h1, #wb_CmsView2 h2, #wb_CmsView2 h3, #wb_CmsView2 h4
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
}
#wb_CmsView2 h1 {font-size: 2.15em; font-weight: bold;}
#wb_CmsView2 h2 {font-size: 1.85em; font-weight: bold;}
#wb_CmsView2 h3 {font-size: 1.6em; font-weight: bold; }
#wb_CmsView2 h4 {font-size: 1.4em;}
#wb_CmsView2 h5 {font-size: 1.2em;}
#wb_CmsView2 h6 {font-size: 1em;}
#PageFooter2
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#PageFooter1
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
